apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets:
              - "prometheus.observability.svc.cluster.local:9090"

      - job_name: "nginx-exporter"
        static_configs:
          - targets:
              - "nginx-exporter.observability.svc.cluster.local:9113"
